header {
	background-color: #CB6120;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo {
	float: left;
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
	float: left;

}

nav {
	float: right;
}
